@import 'nib'

.pages_header
  &.navbar
    &.navbar_custom
      background-color transparent
      border 0
      .container
        background-color white_color
        border-bottom 1px solid silver_color
        .btn
          color #777
        .navbar-right
          margin-right 10px
    &.navbar-inverse
      border-bottom orange_color
      .dropdown
        .btn-link
          color #333
          &:hover
            color #333

.pages_header
  .spacer
    background-color orange_color
    height 12px