@import 'nib'

header_bg_color = white
header_border_color = #edeeee

.header_bar
  background-color header_bg_color
  width 100%
  height 110px
  border-bottom-color header_border_color
  border-bottom-width 1px
  order 1
  padding 0 20px
  align-items stretch
  box-sizing border-box
  display flex
  -webkit-box-orient vertical
  -webkit-box-direction normal
  flex-direction column
  flex-shrink 0
  margin 0
  position relative
  ul
    margin 0
    padding 0
    height 110px
    list-style none
    li
      margin 0
      padding 47px 0
      a
        color #666
        text-decoration none
        padding 15px