.navbar.pages_header
    .navbar-inner
        .container
            button.navbar-toggle(type='button', ng-click='isNavbarCollapsed = !isNavbarCollapsed')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-collapse(collapse='isNavbarCollapsed')
                nav.hidden-xs
                    .navbar-header
                        ul.nav.navbar-nav
                            li
                                a.navbar-brand(ui-sref="macros", title="На главную")
                                    | Sergey Panfilov
                //ul.nav.navbar-nav
                    li(ng-class!="{active: $state.includes('blog')}")
                        a(href='', ui-sref="blog", ui-sref-opts="{reload: true}") Blog