.landing_page
    .label_photo(layout="row", layout-align="center center")
        //div
            h1 Sergey Panfilov
            h2 Web Developer
        .avatar
    main-header
    .page_content
        .container
            h3 Hi there. It's still under construction yet.
            section.contacts
                ul.contacts_list
                    li
                        i.fa.fa-envelope
                        | &nbsp;
                        a(href="mailto:se-panfilov@ya.ru") se-panfilov@ya.ru
                    li
                        i.fa.fa-map-marker
                        | &nbsp;
                        a(href="https://maps.google.com/maps?q=Russia,+Irkutsk")  Russia, Irkutsk
                    li
                        i.fa.fa-github
                        | &nbsp;
                        a(href="https://github.com/se-panfilov") GitHub
                    li
                        i.fa.fa-stack-overflow
                        | &nbsp;
                        a(href="http://stackoverflow.com/users/930170/sergey-panfilov") StackOverFlow
                    li
                        i.fa.fa-facebook
                        | &nbsp;
                        a(href="https://www.facebook.com/sergey.panfilov.75") Facebook
                    li
                        i.fa.fa-vk
                        | &nbsp;
                        a(href="https://vk.com/se_panfilov") VK
                    li
                        i.fa.fa-linkedin
                        | &nbsp;
                        a(href="https://ru.linkedin.com/in/sepanfilov") LinkedIn
            //section.skills(flex)
                ul
                    li JavaScript
                    li Angular
                    li Html
                    li Css
                    li ...
                //md-grid-list(md-cols-sm="1",
                //md-cols-md="2",
                //md-cols-gt-md="6",
                //md-row-height-gt-md="1:1",
                //md-row-height="4:3",
                //md-gutter="8px",
                //md-gutter-gt-sm="4px")
                //    md-grid-skill(ng-repeat="skill in skills",
                //    md-rowspan="{{skill.span.row}}",
                //    md-colspan="{{skill.span.col}}",
                //    md-colspan-sm="1",
                //    ng-class="skill.bgClass")
                        //md-icon(md-svg-icon="{{skill.icon}}")
                        //md-grid-skill-footer
                        //    h3 {{skill.title}}