avatar_size = 85px
avatar_border_size = 3px
label_photo_height = 200px

.landing_page
  .label_photo
    height label_photo_height
    width 100%
    background-color #673AB7
    position relative
    padding 0
    margin 0
    background-image url('http://www.nimbusnine.co/content/home/atlas-1.jpg')
    background-repeat no-repeat
    background-size cover
  .avatar
    border-radius 100%
    border avatar_border_size solid white
    width avatar_size
    height avatar_size
    background-size avatar_size
    margin-left ((avatar_border_size * 2) + avatar_size / 2) * -1
    position absolute
    top label_photo_height - (avatar_size / 2)
    background-color white
    background-image url('https://avatars3.githubusercontent.com/u/994990')
    z-index 20