@import 'nib'

label_photo_height = 300px

.landing_page
  .label_photo
    height label_photo_height
    width 100%
    background-color #2DAAC0
    position relative
    padding 0
    margin 0
    background-image url('../img/bg.jpg')
    background-repeat no-repeat
    background-size cover