doctype html
html#ng-app(xmlns:ng='http://angularjs.org', ng-app='sp-io', ng-strict-di)
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='Avalanche')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //meta(name='msapplication-square70x70logo', content='img/ico/smalltile.png')
        //meta(name='msapplication-square150x150logo', content='img/ico/mediumtile.png')
        //meta(name='msapplication-wide310x150logo', content='img/ico/widetile.png')
        //meta(name='msapplication-square310x310logo', content='img/ico/largetile.png')
        meta(name='application-name', content='Avalanche')
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
        //link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css", rel='stylesheet', media='all')
        link(href='{{cache-break:dist/app.min.css}}', rel='stylesheet', media='all')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&subset=latin,cyrillic', type='text/css')
        //link(rel='shortcut icon', href='img/ico/favicon.ico')
        //link(rel='icon', href='img/ico/favicon.ico', type='image/x-icon')
        //link(rel='shortcut icon', href='img/ico/favicon.ico', type='image/x-icon')
        //link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/ico/apple-touch-icon-144x144-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='76x76', href='img/ico/apple-touch-icon-76x76-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/ico/apple-touch-icon-114x114-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='120x120', href='img/ico/apple-touch-icon-120x120-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='152x152', href='img/ico/apple-touch-icon-152x152-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/ico/apple-touch-icon-72x72-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-57x57-precomposed.png')
        title Sergey Panfilov
    body
        .index_page(ng-controller="IndexPageCtrl")
            .label_photo(layout="row", layout-align="center center")
                avatar
            .page_content
                .container
                    h3 Hi there. It's still under construction yet.
                    contacts-list
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-aria.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js")
        script(src='{{cache-break:dist/app.js}}', type='text/javascript')