@import 'nib'

input[type="search"]
  -moz-appearance textfield
  -webkit-appearance textfield
  appearance textfield
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, canvas
  display block

body, html
  height 100%
  margin 0
  padding 0

body
  background-color #F2F2F2
  font-family 'Roboto'
  font-size 14px
  color main_text_color