@import 'nib'

.horizontal_center
  margin 0 auto

.label_min_width_small
  min-width 75px

.clear_list
  list-style none

.pull_right
  float right

.pull_left
  float left

.full_width
  width 100%

.inline_block
  display inline-block

.block
  display block

.text_center
  text-align center

.text_left
  text-align left

.text_right
  text-align right

.no_margin
  margin 0

.no_padding
  padding 0

.margin_top_min
  margin-top 5px 

.margin_top_med
  margin-top 10px 

.margin_top_big
  margin-top 15px 

.margin_bottom_min
  margin-bottom 5px 

.margin_bottom_med
  margin-bottom 10px 

.margin_bottom_big
  margin-bottom 15px 

.padding_top_min
  padding-top 5px 

.padding_top_med
  padding-top 10px 

.padding_top_big
  padding-top 15px 

.padding_bottom_min
  padding-bottom 5px 

.padding_bottom_med
  padding-bottom 10px 

.padding_bottom_big
  padding-bottom 15px 

.clear_both
  clear both

.pointer
  cursor pointer

.in_progress {
  background-image linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
  background-size 40px 40px
  animation progress-bar-stripes 2s linear infinite
}