//bootstrap
.btn-link
  outline none
  &:hover, &:active, &:focus, &:active:focus
    outline none

.form-group, .input-group, .controls
  &.required
    label
      &:after
        content " *"
        color red