section.contacts
    ul.contacts_list(ng-repeat="contact in ::contacts track by $index")
        li.contact_item
            md-button.md-fab(aria-label="{{::contact.title}}")
                i.contact_icon(ng-class="::contact.icon")
            | &nbsp;
            a.contact_link(href="::contact.link", ng-bind="::contact.title")