.contacts_list
  list-style none
  margin 0
  padding 0
  .contact_item
    color #4f5458
    //.contact_icon
    //  padding 15px
    //  background-color rgb(255, 118, 47)
    //  color white
    //  border-radius 100%
    .contact_link
      a
        color #4f5458