.contacts_list
  list-style none
  .contact_item
    text-align center
    .contact_item_text
      text-align left
      display inline-block
      width 200px
      .contact_icon
        font-size 24px
        line-height 52px
      .contact_link
        color #4f5458