@import 'nib'

.clear_list
  list-style none

.pull_right
  float right

.pull_left
  float left

.text_center
  text-align center

.text_left
  text-align left

.text_right
  text-align right

.no_margin
  margin 0

.no_padding
  padding 0

.margin_top_big
  margin-top 15px 

.margin_bottom_big
  margin-bottom 15px 

.padding_top_big
  padding-top 15px

.padding_bottom_big
  padding-bottom 15px 

.clear_both
  clear both