@import 'nib'

avatar_size = 150px
avatar_border_size = 3px
label_photo_height = 300px

.avatar
  border-radius 100%
  border avatar_border_size solid white
  width avatar_size
  height avatar_size
  background-size avatar_size
  margin-left ((avatar_border_size * 2) + avatar_size / 2) * -1
  position absolute
  top label_photo_height - (avatar_size / 2)
  background-color #293DA2
  //background-image url('https://avatars3.githubusercontent.com/u/994990')
  text-align center
  z-index 20
  .a_label
    color white
    margin-bottom 0
    font-size 2em
    margin-top 40px
  .a_description
    color white
    font-size 1em