text_color = #6a6a6a

blue_color = #2979ff
green_color = #00a99d
purple_color = #8e24aa

.contacts

  .flex-container
    height 100%
    padding 0
    padding-top 80px
    margin 0
    display flex
    align-items center
    justify-content center

  .row
    width auto
    background-color #FFF
    border 1px solid #ddd
    border-radius 5px
    min-width 350px

  .flex-item
    text-align left
    color text_color
    padding 15px
    border-left 4px solid white
    transition all ease 1s
    text-decoration none
    font-size 18px
    font-weight 300
    font-style normal
    display block
    border-bottom 1px solid #EEE
    background-color #FFF
    position relative
    span, i
      position relative
      z-index 3
    &:hover
      &:after
        opacity 1
    &:after
      position absolute
      content ''
      top 0
      left 0
      width 100%
      height 100%
      transition opacity 0.5s ease-out
      z-index 2
      opacity 0
    &:nth-of-type(1n)
      &:hover
        color blue_color
        border-left-color blue_color
      &:after
        background-image linear-gradient(to left, blue_color, white)
    &:nth-of-type(2n)
      &:hover
        color green_color
        border-left-color green_color
      &:after
        background-image linear-gradient(to left, green_color, white)
    &:nth-of-type(3n)
      &:hover
        color purple_color
        border-left-color purple_color
      &:after
        background-image linear-gradient(to left, purple_color, white)
    &:last-of-type
      //border-left-color blue_color
      border-bottom-left-radius 5px
  .title
    text-align center
    padding 25px
    font-size 20px
    font-weight 300
    font-style normal
    color text_color

