text_color = #6a6a6a

blue_color = #2979ff
green_color = #00a99d
purple_color = #8e24aa

.contacts

  .flex-container
    height 100%
    padding 0
    padding-top 80px
    margin 0
    display flex
    align-items center
    justify-content center

  .row
    width auto
    background-color #FFF
    border 1px solid #ddd
    border-radius 5px
    min-width 350px

  .flex-item
    text-align left
    color text_color
    padding 15px
    border-left 4px solid white
    transition all ease 1s
    text-decoration none
    font-size 18px
    font-weight 300
    font-style normal
    display block
    border-bottom 1px solid #EEE
    &:hover
      &:nth-child(1n)
        border-left-color blue_color
        color blue_color
        background: linear-gradient(to left, blue_color, white);
      &:nth-child(2n)
        background-position 100px
        border-left-color green_color
        color green_color
        background: linear-gradient(to left, green_color, white);
      &:nth-child(3n)
        border-left-color purple_color
        color purple_color
        background: linear-gradient(to left, purple_color, white);
      &:last-child
        border-bottom-left-radius 5px
  .title
    text-align center
    padding 25px
    font-size 20px
    font-weight 300
    font-style normal
    color text_color
