section.contacts
    ul.contacts_list
        li.contact_item(ng-repeat="contact in ::contacts track by $index")
            md-button.md-fab(type="button", ng-href="{{::contact.link}}", aria-label="{{::contact.title}}")
                i.contact_icon(ng-class="::contact.icon")
                //i.material-icons.md-48 face
            | &nbsp;
            a.contact_link(ng-href="{{::contact.link}}", ng-bind="::contact.title")