.page {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #FFF;
  overflow: auto;

  &__content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    font-size: 4em;
    margin: 0;
    font-weight: 500;
  }

  &__sub-header {
    font-size: 1.3em;
    margin: 0;
    font-weight: 500;
  }

  .contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    &__item {
      &:first-of-type {
        padding-left: 0;
      }

      display: flex;
      padding: 15px;
      margin: 0;
    }

    &__item-link {
      color: #FFFFFF;
    }
  }

}
