doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //meta(name='msapplication-square70x70logo', content='img/ico/smalltile.png')
        //meta(name='msapplication-square150x150logo', content='img/ico/mediumtile.png')
        //meta(name='msapplication-wide310x150logo', content='img/ico/widetile.png')
        //meta(name='msapplication-square310x310logo', content='img/ico/largetile.png')
        //link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href='dist/se-panfilov.min.css', rel='stylesheet', media='all')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&subset=latin,cyrillic', type='text/css')
        //link(rel='shortcut icon', href='img/ico/favicon.ico')
        //link(rel='icon', href='img/ico/favicon.ico', type='image/x-icon')
        //link(rel='shortcut icon', href='img/ico/favicon.ico', type='image/x-icon')
        //link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/ico/apple-touch-icon-144x144-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='76x76', href='img/ico/apple-touch-icon-76x76-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/ico/apple-touch-icon-114x114-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='120x120', href='img/ico/apple-touch-icon-120x120-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='152x152', href='img/ico/apple-touch-icon-152x152-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/ico/apple-touch-icon-72x72-precomposed.png')
        //link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-57x57-precomposed.png')
        title Sergey Panfilov
    body
        .index-page
            div.header
              h1.main-title Sergei Panfilov
                //canvas#granim-canvas
                .sandbox.canvas-image-wrapper
                  .bloc-logo
                    canvas#logo-canvas(width="130" height="49")
                    a.logo-mask(href="index.html") Granim.js
        //script(src='{{cache-break:dist/se-panfilov.es5.min.js}}', type='text/javascript')
        script(src='bower_components/granim/dist/granim.min.js', type='text/javascript')
        script(src='dist/se-panfilov.es5.min.js', type='text/javascript')
        script(src='index.js', type='text/javascript')